<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
<!-- Modal hiển thị thông báo -->
    <div class="notification-container">
        <h3>Thông báo</h3>
        <table class="notification-table">
            <thead>
            <tr>
                <th>Loại</th>
                <th>Trạng thái</th>
                <th>Mã liên quan</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="notification : ${notifications}">
                <td th:text="${notification?.shoppingCartCode != null ? 'Đơn hàng' : 'Bảo hành'}"></td>
                <td th:text="${notification?.nameStatus}"></td>
                <td th:text="${notification?.shoppingCartCode != null ? notification.shoppingCartCode : notification?.statusCode}"></td>
            </tr>
            </tbody>
        </table>
    </div>



    <a href="/">Quay lại trang chủ</a>
</div>
</body>
</html>